<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OneSignal_APPID</key>
    <string>c7477da8-21b8-4780-aabf-39ede0892ebd</string>
    
    <key>OneSignal_SUPPRESS_LAUNCH_URLS</key>
    <true/>
    
    <key>OneSignal_REQUIRE_PRIVACY_CONSENT</key>
    <false/>
</dict>
</plist>
